automlr.Rcheck
automlr_*.tar.gz
.Rproj.user
*.Rproj
.Rhistory
.RData
src/*.so
src/*.o
src/*.dll
.settings
inst/doc/

*~
*.swp
*.swo
\#*\#
.\#*
man/*
NAMESPACE
.project
tmp.R
.ipynb_checkpoints
*.Rsv
R/mlrLearners.R
.pydevproject
__pycache__
*.log
amllogs/
logs/
*.rds
